
.tableHeader{
    overflow: auto; 
    height: 350px; 
}

.tableHeader  table  thead tr{
    position: sticky; 
    top: 0; 
    z-index: 1;
    background-color: #857b7b ;

}

.tableHeader  table  thead tr th{
    color: white;
}

.page-footer{
    z-index: 2;
}
.subject,.message{
    margin-left: 0px !important;
}

.tableHeader::-webkit-scrollbar {
  
    width: 7px;
    height: 6px;
    margin-left: 10px;
  
    
    background-color: white;
    
}
.tableHeader::-webkit-scrollbar-thumb {
    background-color:#e4e4e4;
}
.tableHeader::-webkit-scrollbar-thumb {
     
}
