.scroll{

    height: 339px;
    overflow-y: auto;
    padding-right: 3px; 
}


.scroll::-webkit-scrollbar {
  
    width: 7px;
    height: 6px;
    margin-left: 10px;
  
    
    background-color: white;
    
}
.scroll::-webkit-scrollbar-thumb {
    background-color:#e4e4e4;
}
.scroll::-webkit-scrollbar-thumb {
     
}